.main{
    width:81.5vw;
    margin-left: 18.5vw;
    height:100vh;
    padding-left: 35px;
    padding-top: 40px;
    z-index: 0;
    /* position: absolute; */
}
.head{
    color:#173b6c; 
    border-bottom: 4px solid #149ddd;
    display: inline-block; 
    padding-bottom: 16px;
    border-top-width:30px;
}
.content{
    margin-top: 20px;
}
.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:90%;
}
.image{
    /* border: 2px solid yellow; */
    width:150px;
    height:130px;
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}