.main{
    width:81.5vw;
    margin-left: 18.5vw;
    height:100vh;
    background-color: gray;
    background-image: url('./background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    
    /* position: fixed;
    top:0px;
    z-index: 1; */
} 
.imagge{
    width: 500px;
    height: 650px;
    position: relative;
    left:315px;
    top:40px;


}
.intro{
    /* position: absolute; */
    position: relative;
    left:290px;
    top:100px;
    width: '300px';
    display: inline-block;
    /* border: 2px solid black; */
    height: 20px;
    
    /* color: white; */
    

}