.main{
    width:81.5vw;
    margin-left: 18.5vw;
    height:100vh;
    padding-left: 35px;
    padding-top: 60px;
    background-color: #edede9;
}
.head{
    color:#173b6c;
    border-bottom: 4px solid #149ddd;
    display: inline-block; 
    padding-bottom: 16px;
    border-top-width:30px;
}
.content{
    margin-top: 20px;
}
.locationContainer{
    display: flex;gap:15px;
    align-items: center;
}
.body1{
    width:40%;
    position: relative;
    background-color: white;
    height: 400px;
    padding: 27px;
    font-size: 22px;
    height :450px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form{
    display:flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    background-color: white;
    height: 5;


}
.form>div{
    margin: 12px;
}
#abc{
    margin-bottom: 60px !important;
}