
@media (min-width: 401px) and (max-width: 500px) {

    #heading{
        text-align: center;
        font-size: 3.3rem;
    }
    #exp{
        flex-direction: column;
    }
    #expP{
        height: fit-content;
        /* border: 1px solid white; */
        width: 85vw;
    }
    #exp img {
        width: 100%;
    }
    #expC {
        /* border: 1px solid whitesmoke; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #exp h1 {
        /* border: 1px solid whitesmoke; */
        width: 100% !important;
        font-size: 1.7rem;
        font-weight: 900;
        text-align: center;
    }
    #expC h2{
        text-align: center;
    }
    #expC h3{
        text-align: center;
    }
    #expC2{
        display: flex;
        justify-content: center;        
        align-items: center;
        /* border: 1px solid white; */
        width: 100%;
    }
    #expC2 > div {
        
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        width: 100%;
        margin-top: -1.5rem;
    }
}


  


  

