@media (min-width: 301px) and (max-width: 600px) {

    #main{
        flex-direction: column;
        /* border: 1px solid white; */
        justify-content: center !important;
        align-items: center !important; 
        padding-right: 0px !important;
        width: 80%;
    }
    #main > div { 
        width: 100%;
        height: fit-content;
        /* border: 1px solid white; */
        margin-left: -3rem;
    }
    #hero > h1{
        text-align: center !important;
        /* border: 1px solid white; id='hero' */
    }
}
